.footer {
   background: #fff;
   margin: 30px auto;
   max-width: 1440px;
   overflow: hidden;
   border-radius: 6px;
   padding: 16px;
   min-height: 56px;
   font-size: 14px;

   span {
      font-weight: 700;
   }
}