.form {
  background: #f8f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 233px);

  &_container {
    background: #fff;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 6px 0px;
    width: 600px;
    padding: 38px 48px 38px 48px;
    border-radius: 16px;
    overflow: hidden;
  }

  &_heading {
    font-size: 24px;
    margin: 0 0 30px 0;
  }

  &_label {
    margin: 0 0 8px 0;
    font-size: 15px;

    & + select {
      margin: 0 0 30px 0;
      width: 100%;
      height: 35px;
      overflow: hidden;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid #d3d3d387;

      &:focus-visible {
        outline: none;
      }
    }

    & + input {
      margin: 0 0 30px 0;
      width: 100%;
      height: 35px;
      overflow: hidden;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid #d3d3d387;

      &:focus-visible {
        outline: none;
      }
    }
  }

  &_btn-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 24px 0 24px 0;
  }

  &_btn {
    background: #7367f0;
    color: #fff;
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: rgba(115, 103, 240, 0.3) 0px 2px 6px 0px;

    &:nth-child(2) {
      background: transparent;
      color: #808390;
      border: 1px solid #808390;
      box-shadow: rgba(43, 43, 44, 0.3) 0px 2px 6px 0px;
    }
  }
}
